input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
html {-webkit-text-size-adjust:none; height: 100%;}
body {
	
	position: relative !important;
	margin:0;
	padding:0;	
	color: #585858;
	font-family: 'Ubuntu', 'Noto Sans', 'PT Sans', Verdana, Arial, sans-serif;
	outline:none;
	min-width: 1162px;
	min-height: 100%;
	padding-bottom: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body.adaptiv {
    min-width: 320px;
}
.svg_fill_solid {
	fill:#1a58d7;
}
/*buttons and inputs*/
.solid_button,
.solid_element {
	background:#1a58d7;
	color: #fff;
	font-family: 'Ubuntu', 'Noto Sans', 'PT Sans', Verdana, Arial, sans-serif;
}
.solid_button.ui-state-active,
.solid_button.ui-state-current,
.solid_button:focus,
.solid_button:hover {
	background:#546dd1;
	color:#fff;
}
.border_button {
	border:1px solid #e2e2e2;
	background:#fff;
	color:#a7a7a7;
	cursor:pointer;
}
.border_button:hover {
	background:#e2e2e2;
}
.solid_input {
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px 0 19px;
	height: 38px;
	border: none;
	border-radius: 6px;
	background: #e9e9e9;
	box-shadow: none;
	font-weight: normal;
	font-size: 14px;
	float: none;
	margin-bottom: 25px;
}
/*end buttons*/
.new_price,
.old_price,
.title_f {
	font-family: 'Ubuntu', 'PT Sans',sans-serif;
}
.title_product {
	font-family: 'PT Sans',sans-serif;
}
.sl_header1,
.sl_header2,
.sl_header3  {
	font-family: 'Ubuntu',sans-serif;
}
a img { border:none;}
a,
.open_call,
.hover_link :hover{
	text-decoration:underline;
	color:#1a58d7;
	cursor:pointer;
}
a:hover,
.open_call:hover {
	color:#636363;
}
h3 {
	
}
/*float class*/
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}

/*TOP-PANEL*/
.top_panel {
	width:100%;
	background:#fbfbfb;
}
.top_panel_wrap {
	margin:0 auto;
	max-width:1162px;	
	padding-left:10px;
	padding-right:10px;
	line-height:40px;
}

.top_panel .search_wrap {
	float: left;
	padding-top: 7px;
}

.top_panel .basket_wrap {
	margin-left: 20px;
    white-space: nowrap;
}

.top_panel .phone_block {
	display: block;
	white-space: nowrap;
}

.top_panel .phone_block  .phone  {
	display: inline-block;
	vertical-align: middle;
	font-size:14px;
	color:#656565;
	margin-right:20px;
	line-height:1.2;
}
.top_panel .phone_block  .call_button {
	display: inline-block;
	vertical-align: middle;
	font-size:12px;
}

.top_panel .top_personal { 
	margin-left: 30px;
}

@media all and (max-width: 920px) {
	.adaptiv .top_panel .phone_block {
		float: none !important;
	}
	
	.adaptiv .top_panel .search_wrap {
		float: none;
	}
	
	.adaptiv .top_panel .phone_block  {
		float: none;
	}
	
	.adaptiv .top_panel .basket_wrap {
		float: none;
		margin-left: 0px;
	}
	
	.adaptiv .top_panel .top_personal {
		float: none;
		margin-left: 0px;
	}
	
	.adaptiv .top_panel .top_panel_wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media all and (max-width: 800px) {
	.adaptiv .top_panel .phone_block {
		float: left !important;
	}
}
@media (max-width:390px){
	.adaptiv .top_panel_wrap{
		padding:0;
	}
}
/*TOP-PANEL END*/
/* ---- HEADER ---- */
.header_wrap {
	position:relative;
	z-index:20;
}
.header_wrap .header_wrap_information {
    min-height: 80px;
}
.header_wrap .header_wrap_information.header_grey_line {
    border-bottom: 1px solid #e5e5e5;
}
.header_wrap .phone {
	font-size: 14px;
   font-weight: bold;
}
.header_wrap .call_button { 
	font-size: 11px;
}
.workarea_wrap {
	position:relative;
	z-index:10;
}
.header_wrap_container {
	margin:0 auto;
    width: 100%;
	padding: 0;
	border: 0;
	border-spacing: 0;
	max-width:1162px;
	position:relative;
}
.header_wrap_container .logo_wrap {
	width:auto;
    width: 22%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header_wrap_container .logo_wrap img {
	max-width: 100%;
}
.header_wrap_container .search_wrap {
    padding-left: 20px;
}
.header_wrap_container .right_wrap {
    width: 73%;
}
.header_wrap_container .right_wrap table.table_wrap {
    float: right;
    width: 100%;
	padding: 0;
	border: 0;
	border-spacing: 0;
}
.header_wrap_container .right_wrap table.table_wrap .menu_wrap {
    position: static;
    display: block;
    padding-left: 20px;
    margin: 0px;
}
.header_wrap_container .right_wrap table.table_wrap .phone_wrap {
    white-space: nowrap;
	padding-left: 20px;
	text-align: right;
}
.header_wrap_container .right_wrap table.table_wrap .basket_wrap {
    white-space: nowrap;
	padding-left: 20px;
	padding-bottom: 0;
}

.top_panel .top_panel_wrap .b_compare,
.top_panel .top_panel_wrap .b_compare_mobile,
.top_panel .top_panel_wrap .b_basket,
.top_panel .top_panel_wrap .b_basket_mobile {
	line-height: normal;
}

.b_compare,
.b_basket {
	display: inline-block;
	vertical-align: middle;
}

@media all and (max-width: 1200px) {
    .adaptiv .header_wrap_container.with-menu.with-phone.with-basket .right_wrap table.table_wrap {
        width: auto;
    }
    .adaptiv .header_wrap_container.with-menu.with-phone.with-basket .right_wrap table.table_wrap .menu_wrap {
        display: none;
    }
    .adaptiv .header_wrap .top.with-menu.with-phone.with-basket {
        display: block !important;
    }
}

@media all and (max-width: 1150px) {
    .adaptiv .header_wrap .border_catalog_menu {
        display: none;
    }
    .adaptiv .top_panel_wrap .bg_top_menu {
        display: none;
    }
    .adaptiv .header_wrap .top.with-top-menu {
        display: block !important;
    }
}

@media all and (max-width: 1000px) {
    .adaptiv .header_wrap_container.with-menu.with-basket .right_wrap table.table_wrap {
        width: auto;
    }
    .adaptiv .header_wrap_container.with-menu.with-basket .right_wrap table.table_wrap .menu_wrap {
        display: none;
    }
    .adaptiv .header_wrap .top.with-menu.with-basket {
        display: block !important;
    }
}

@media all and (max-width: 920px) {
	.adaptiv .header_wrap .header_wrap_information {
        padding-left: 20px;
		padding-right: 20px;
    }
}

@media all and (max-width: 900px) {
    .adaptiv .header_wrap_container.with-menu.with-phone .right_wrap table.table_wrap {
        width: auto;
    }
    .adaptiv .header_wrap_container.with-menu.with-phone .right_wrap table.table_wrap .menu_wrap {
        display: none;
    }
    .adaptiv .header_wrap .top.with-menu.with-phone {
        display: block !important;
    }
}

@media all and (max-width: 825px) {
    .adaptiv .header_wrap_container .right_wrap table.table_wrap {
        width: auto;
    }
    .adaptiv .header_wrap_container.with-menu .right_wrap table.table_wrap .menu_wrap {
        display: none;
    }
    .adaptiv .header_wrap .top.with-menu {
        display: block !important;
    }
}

@media all and (max-width: 800px) {
    /*.adaptiv .header_wrap_container {
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .adaptiv .header_wrap_container .search_wrap {
        padding-left: 0px;
    }
	.adaptiv .header_wrap_container .right_wrap table.table_wrap .basket_wrap {
		padding-left: 0px;
	}
    .adaptiv .header_wrap_container tbody {
        display: block;
    }
    .adaptiv .header_wrap_container tbody tr {
		display: block;
	}
	.adaptiv .header_wrap_container .right_wrap tbody tr {
		text-align: right;
	}*/
	.adaptiv .header_wrap_container tbody tr td {
        display: none;
		padding-top: 5px;
		padding-bottom: 5px;
    }
	.adaptiv .header_wrap_container tbody tr .right_wrap td:last-child {
		display:inline-block;
	}
    .adaptiv .header_wrap_container .logo_wrap {
        display: table-cell;
		width: auto;
    }
    .adaptiv .header_wrap_container .right_wrap {
        display: table-cell;
        width: auto;
    }
	.adaptiv .header_wrap .header_wrap_information {
		min-height: auto;
	}
	.adaptiv .header_wrap .header_wrap_information {
		padding-left: 10px;
		padding-right: 10px;
	}
	.adaptiv .top_panel .phone_block {
		display: block !important;
	}
	.adaptiv .header_wrap_information .search_wrap {
		display: none;
	}
	.adaptiv .top_panel .top_panel_wrap .search_wrap {
		display: none;
	}
    /*.adaptiv .header_wrap_container .right_wrap table.table_wrap {
        float: none;
        display: block;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_left_wrap {
        display: block;
        float: left;
		margin-top: 5px;
        margin-bottom: 5px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .phone_wrap {
        text-align: left;
		padding-left: 0px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .basket_wrap.fly {
        width: 300px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_right_wrap {
        display: block;
        float: right;
		margin-top: 5px;
        margin-bottom: 5px;
    }*/
}

@media all and (max-width: 510px) {
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_right_wrap {
        float: none;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_left_wrap {
        float: none;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .call_button {
        text-align: left;
    }
}

.worakarea_wrap_container {
	margin:0 auto;	
	max-width:1162px;
	padding:0 9px;
	min-height:350px;
}
.header_grey {
	font-size: 21px;
	color: #444648;	
	font-weight: normal;
	font-family: 'Ubuntu','PT Sans',sans-serif;
	margin-top:0;
	margin-bottom: 10px;
}
.standart_block {
	margin-bottom:30px;
}
/*@media (max-width:980px) {
	.adaptiv .header_wrap_container .logo_wrap {
		width:30%;
	}
}
@media (max-width:640px) {
	.adaptiv .header_wrap_container .logo_wrap {
		width: 35%;
	}
}*/
@media (max-width:1024px) {
	.adaptiv .workarea_wrap {
		min-height:400px;
	}
}
.workarea_wrap h1 {
	padding-bottom:0;
	font-size:27px;
	color:#444648;	
	font-weight:normal;
}
.workarea_wrap h1 a {
	color:#000;
	text-decoration:none;
}
.bx_title_section {
	margin-top:0;
	padding-top:0;
	vertical-align:middle;
	font-size:26px;
}
.footer_wrap_container {
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	max-width:980px;
}
/* ---- INC SOCIAL HEADER ---- */
.bx_inc_social_footer h4{
	text-align: left;
	font-weight: normal;
	font-size:26px;
}
.social_buttons {margin-top: 0px}
.social_buttons ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
.social_buttons ul li{
	display: inline-block;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	list-style:none;
}
.social_buttons ul li a{
	display: block;
	width: 35px;
	height: 35px;
	background: url(images/sprite_social.png) no-repeat;	
}
.social_buttons ul li.fb a{ background-position: -35px 0;}
.social_buttons ul li.tw a { background-position:-105px 0;}
.social_buttons ul li.vk a{ background-position:0 0}
.social_buttons ul li a:hover{opacity:0.65;}
/* ---- INC SOCIAL HEADER END---- */
/*HEADER_LOGO*/
span.code {
	font-size:17px;
}
table.header_table td.logo {
	width:50%;
}
table.header_table td.logo_wrap {	
	padding-left:12px;
	max-height:60px;
}
table.header_table td.logo_wrap img {
	max-height:60px;
}
.phone_wrap_mobile {
	display: none;
}
.adaptiv .top_panel_wrap.mobile_version {
	display: none;
}
@media (max-width:1200px){
	.adaptiv table.header_table td.logo {
		width:40%;
	}
	.adaptiv table.header_table td.address {
		width:20%;
	}
	.adaptiv table.header_table td.phone {
		width:20%;
	}
}
@media (max-width:920px){
	.adaptiv table.header_table td.logo {
		width: 30%;
	}
	.adaptiv table.header_table td.address {
		width:25%;

	}
	.adaptiv table.header_table td.phone {
		width:25%;
	}
}
@media (max-width:740px){
	.adaptiv table.header_table td.logo {
		display:block;
		float:left;
		width:30%;
		margin-top: 5px;
		margin-bottom: 5px;		
		
	}
	.adaptiv table.header_table td.socnet {
		display:none;
	}
	.adaptiv table.header_table td.address {	
		display:block;
		float:left;
		width:30%;
		margin-left:20px;	
		margin-left: 10px;	
		margin-top:2%;
	}
	.adaptiv table.header_table td.phone {		
		display:block;
		float:right;
		width:35%;
		margin-right:10px;
		margin-bottom:5px;
		text-align:right;
	}
	.adaptiv table.header_table {
		max-height: 60px;
	}
}
@media (max-width:600px) {
	.adaptiv table.header_table td.address {
		display:none;
	}
	.adaptiv table.header_table td.phone {
		width:50%;
		font-size: 18px;
	}
	.adaptiv span.code {
		font-size:14px;
	}	
}
@media (max-width:550px) {	
	.adaptiv .header_wrap_container .logo_wrap {
		width:50%;
		margin-bottom:10px;
	}
	.adaptiv .top_panel .phone_block .phone {
		margin-right: 6px;
	}
}
@media (max-width:500px) {
	
	.adaptiv .header_wrap_container > tbody > tr {
		display: block;
		text-align: justify;
		font-size: 0;
	}
	.adaptiv .header_wrap_container > tbody > tr:after {
		width: 100%;
                height: 0;
                visibility: hidden;
                overflow: hidden;
                content: '';
                display: inline-block;
	}
	.adaptiv .header_wrap_container .logo_wrap {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin-bottom: 0;
		padding-right: 10px;
	}
	.adaptiv .header_wrap_container .right_wrap {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
	.adaptiv .header_wrap_container .right_wrap table.table_wrap .phone_wrap {
		padding-left:0;
	}
	
	.adaptiv .basket_wrap {
		display: none;
	}
	.adaptiv .header_wrap_information .header_wrap_container .phone_wrapper {
		display: inline-block;
	}
	.adaptiv .top_panel_wrap.desktop_version {
		display: none;
	}
	.adaptiv .top_panel_wrap.mobile_version {
		display: block;
		width: 100%;
		padding: 0;
		height: 50px;
		background: #e0e2e5;
		font-size: 0;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block {
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		width: 25%;
		height: 100%;
		border-right: 0.5px solid #fcfcfc;
		text-align: center;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block:last-child {
		border: none;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block a:active {
		background-color: rgba(197,197,197,0.5);
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block .wrap_icon_block {
		display: inline-block;
		position: relative;
		background: url(images/head_icon_mobile.png) no-repeat;
		margin-top: 15px;
		width: 20px;
		height: 20px;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block.personal_block_mob .wrap_icon_block {
		background-position: 0 0;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block.personal_auth_block_mob .wrap_icon_block {
		background-position: -80px 0;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block.basket_block_mob .wrap_icon_block {
		background: none;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block.compare_block_mob .wrap_icon_block {
		background: none;
	}
	.adaptiv .top_panel_wrap.mobile_version .head_block.phone_block_mob .wrap_icon_block {
		background-position: -60px 0;
	}
	.adaptiv .phone_wrap_mobile {
		display: inline-block;
	}
	/* .adaptiv .top_panel_wrap.mobile_version .head_block.phone_block_mob {
		background: url(images/head_icon_mobile.png) no-repeat;
		background-position: 0px 0px;
	} */
	.adaptiv .header_wrap_information {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.adaptiv .call_button {
		display: none;
	}
}
/*TOP_SLIDER*/
.slider{
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	width:100%;
}
.slider .slider_container{
	position:absolute;
	top:0px;
	padding:0px;
}
.slider .slider_container  .slider_item{
	overflow:hidden;
	float:left;
}
.slider .slider_container  .slider_item img{
	
}
/*INDEX_HEADER*/
.section_header{	
	text-transform:uppercase;
	font-size:30px;
	color:#cf9f33;
	width:100%;
	text-align:center;
	background:url(images/header_line.jpg) repeat-x center;
	margin-bottom:35px;
	margin-top: 26px;
}
.section_header div{
	padding:0 11px;
	display:inline-block;
	background:white;
}
/*///////////*/
.text_block{
	font-size:12px;	
	color:#686868;
}
/*footer*/
.bg_footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	//background:#f1f1f1;
    color: #292929;
	padding: 10px 0;
	margin-top:60px;
	border-top: 1px solid rgb(231,231,231);
}
.bg_footer .footer{
    position: relative;
	max-width:1162px;
	margin:0 auto;
    overflow:  hidden;
    padding: 13px 20px;
}
.bg_footer .footer .table_footer {
	width:100%;
}
.bg_footer .contacts {
	color: inherit;
}
.bg_footer .contacts .one_phone {
	font-size:13px;	
	color: inherit;
}
.bg_footer .contacts .text_phone {
	font-size:13px;
	color: inherit;
	padding-left:2px;	
}
.bg_footer .phone-block {
    text-align: right;
}
.bg_footer .phone-block .phone {
	font-size:19px;
	color: inherit;
}
.bg_footer .phone-block .call_button {
    font-size:13px;
	color: inherit;	
}
.bg_footer .logo-block {
    padding-top: 25px;
}
.table_footer .contacts {
	width:32%;
	padding-left:13px;
}
.table_footer .footer_menu {
	width:100%;
	overflow:hidden;
}
@media (max-width:650px){
    .adaptiv .bg_footer .contacts {
        float: none;
    }
    
    .adaptiv .bg_footer .menu {
        float: none;
    }
    
    .adaptiv .bg_footer .phone-block {
        float: none;
        text-align: left;
    }
}
/*END_FOOTER*/
/*BX_POPUP_WINDOW*/
.popup-window	{
	border:0;
	border-radius:0;
	box-shadow:0;
	font-size:12px;
}
.popup-window-close-icon {
	width: 11px;
	height: 11px;
	background:url(images/close_popup.png) no-repeat 0 0;
	opacity:0.38;
}
.popup-window-close-icon:hover {
	background:url(images/close_popup.png) no-repeat 0 0;
	opacity:1;
}
.popup-window-top-row,
.popup-window-left-column,
.popup-window-right-column {
	display:none;
}
.popup-window-content {
	margin:0;
	background:#fff;
	border-radius: 7px;
}
.popup-window,
.popup-window-content-row .popup-window-center-column {
	background:#fff;
}
/*END BX_POPUP_WINDOW*/
.bx_left_catalog {
	float:left;
	width: 18.7%;
}
.bx_content_right {
	width: 80%;
	float: right;
	clear: right;
}
@media (max-width:959px){
	.adaptiv .bx_left_catalog {
		display:none;
	}
	.adaptiv .bx_content_right {
		width:100%;
		float:none;
	}
}
ul.top_personal_menu {
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	position:relative;
	top:1px;
}
ul.top_personal_menu li {
	float:left;
	display:block;
	list-style:none;
	border:1px solid #fff;
	border-bottom:0;
}
ul.top_personal_menu li.active {
	border:1px solid #bebebe;
	border-bottom:1px solid #fff;
}
ul.top_personal_menu li a {
	display:block;
	font-size:14px;
	padding:14px 17px;
	color:#5a5a5a;
	font-family:'Babas',Arial,sans-serif;
	text-decoration:none;
}
.personal_body {
	border:1px solid #bebebe;
	width:100%;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
@media (max-width:600px){
	.adaptiv ul.top_personal_menu li a {
		padding:12px 10px;
	}
}
@media (max-width:480px){
	.adaptiv ul.top_personal_menu li a {
		padding:12px 4px;
		font-size:12px;
	}
}
.bx_page {
	font-size:14px;
}
@media (max-width:800px) {
	.adaptiv .left_col_index {
		display:none;
	}
	.adaptiv .right_col,
	.adaptiv .right_col_index	{
		width:100%;
	}
	.adaptiv .left_col {
		width:100%;
		margin-bottom:15px;
	}
}
/*contacts*/

@media (max-width:768px) {
	.adaptiv .cnt_contacts {
		width:100%;
	}
	.adaptiv .cnt_map {
		width:100%;
		margin-top:15px;
	}
}
/*block see*/
.one_see .img_see {
	width: 58px;
	height:58px;
	display:block;
	float: left;
	text-align: center;
}
.one_see {
	clear:both;
	margin-bottom: 15px;
	overflow:hidden;
}
.one_see .right_see {
	float: right;
	width: 60%;
}

/*To cart*/
.min-button.to-cart div {
	background-image: url('images/to_cart.png');
}

/*Catalog button*/
.catalog-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 13px 6px 13px;
	text-decoration: none;
	background: #3a58d2;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}.catalog-button:hover {
	background: #546dd1;
	text-decoration: none;
	color: #fff;
}.catalog-button:focus {
	background: #3252d1;
	color: #fff;
	outline: none;
	text-decoration: none;
}

/*Hover shadow*/
.hover_shadow {
	transition-property: box-shadow;
	transition: 0.2s;
}
.hover_shadow:hover {
	box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
}
/*flexel*/
.nbs-flexisel-container {
    position:relative;
    /*max-width:98%;*/
	margin:0 auto;
	overflow:hidden;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
	overflow:hidden;    
	/*width:97%;*/
	margin:0 auto;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100px;
    max-height:45px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left {
	position: absolute;
	top: -50px !important;
	left:auto;
	right: 36px;
}
.nbs-flexisel-nav-right {
	position: absolute;
	top: -50px !important;
	right: 8px;
}

.error404 {
	max-width:563px;
	margin:0 auto;
	font-family:"Ubuntu",sans-serif;
	text-align:center;
}
.error404 .img {
	color: #fff;
	text-align: center;
	font-size: 50px;
	width: 145px;
	height: 145px;
	line-height: 145px;
	margin: 0 auto;
	border-radius: 145px;
	font-weight: bold;
	font-family: "Ubuntu";
}
.error404 .header_text {
	text-align:center;
	font-size:30px;
	font-weight:bold;
	font-family:"Ubuntu",sans-serif;
	color:#111111;
	padding:30px 0;
}
.error404 .text {
	font-size:14px;
	margin-bottom:30px;
}
.error404 .solid_button,
.error404 .border_button {
	text-decoration:none;
	font-size:16px;
	text-align:center;
	width:263px;
	height:35px;
	line-height:35px;
	border-radius:6px;
}
@media (max-width:700px) {
	.error404 .solid_button,
	.error404 .border_button {
		width:100%;
		margin-bottom:10px;
	}
}
.button_up {
	width: 40px;
	height: 40px;
	position: fixed;
	display:none;
	bottom: 30px;
	right: 30px;
	border-radius: 5px;
	z-index: 50;
	cursor: pointer;	
	opacity:0.9;
}
.button_up:hover {
	opacity:1;
}
.button_up i {
	width: 16px;
	height: 9px;
	margin:15px auto;
	
	background: url(images/sprite_to_up.png) no-repeat bottom;
	display: block;
}
.consent-header {
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
.consent-body {
    padding: 15px 0;
}
.consent-body p{
	font-size: 13px;
    margin: 0 0 20px;
}
.bx_popup_close {
	display: none;
}
.about-company .about_main {
	font-size: 13px;
	color: #888;
}.about-company .header_grey {
	margin-bottom: 25px;
}
.about_company_img {
	width: 25%;
	height: 226px;
	display: inline-block;
	vertical-align: middle;
	background: url(/include/about_company.png) no-repeat;
}
.about_company_description {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	width: 75%;
	padding-left: 40px;
	vertical-align: middle;
	box-sizing: border-box;
}
.bg_top .bg_subscribe {
	display: inline-block;
	width: 65%;
	vertical-align:middle;
}
.bg_top .bg_phone {
	display: inline-block;
	width: 32%;
	vertical-align: middle;
}
.bg_phone .phone {
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
	font-size: 19px;
    line-height: 28px;
	text-decoration: none;
	    color: rgb(29, 26, 26);
}
.bg_phone .call_button {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}
@media (max-width:870px) {
	.bg_top .bg_subscribe {
	display: block;
	width: 100%;
	}
	.bg_top .bg_phone {
		display: block;
		margin-top: 15px;
		width: 100%;
	}
}
@media (max-width:800px) {
	.fly > .b_compare {
		display: inline-block;
	}
	.adaptiv .about_company_img {
		display: none;
	}
	.adaptiv  .about_company_description {
		display: block;
		width: 100%;
		padding: 0;
	}
}

span.title-price {
	font-size: 13px !important;
}