.banners-1 {
    display: block;
    overflow: hidden;
}

.banners-1-wrapper {
    display: block;
    margin: -8px;
}

.banners-1 .banners-1-banner {
    display: block;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor:  pointer;   
}

.banners-1 .banners-1-banner .banners-1-banner-wrapper {
    display: block;
    position: relative;
}

.banners-1 .banners-1-banner .banners-1-image {
    display: block;
    padding-top: 58.79%;
    position: relative;
}

.banners-1 .banners-1-banner .banners-1-image .banners-1-image-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banners-1 .banners-1-banner .banners-1-image .banners-1-image-wrapper img {
    filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px); 
	-o-filter: blur(1px); 
	-ms-filter: blur(1px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}

.banners-1 .banners-1-banner:hover .banners-1-image .banners-1-image-wrapper img {
    filter: none;
	-webkit-filter: none;
	-moz-filter: none; 
	-o-filter: none; 
	-ms-filter: none;
}

.banners-1 .banners-1-banner .banners-1-text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 23px 27px;
}