.picturelist.landing-1 {
    display: block;
}

.picturelist.landing-1 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.picturelist.landing-1 .picturelist-wrapper {
    display: block;
    overflow: hidden;
    margin: -8px;
}

.picturelist.landing-1 .picturelist-picture {
    display: block;
    float: left;
    padding: 8px;
    width: 100%;
}

.picturelist.landing-1 .picturelist-picture.picturelist-picture-1 {
    width: 100%;
}.picturelist.landing-1 .picturelist-picture.picturelist-picture-2 {
    width: 50%;
}.picturelist.landing-1 .picturelist-picture.picturelist-picture-3 {
    width: 33.33333%;
}.picturelist.landing-1 .picturelist-picture.picturelist-picture-4 {
    width: 25%;
}.picturelist.landing-1 .picturelist-picture.picturelist-picture-5 {
    width: 20%;
}

.picturelist.landing-1 .picturelist-picture .picturelist-picture-image {
    display: block;
    position: relative;
    padding-top: 100%;
}

.picturelist.landing-1 .picturelist-picture .picturelist-picture-image-wrapper {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.picturelist.landing-1 .picturelist-picture .picturelist-picture-image .uni-image {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1000px)
{
    .adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-5 {
        width: 25%;
    }
}

@media all and (max-width: 750px)
{
    .adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-4 {
        width: 33.33333%;
    }.adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-5 {
        width: 33.33333%;
    }
}

@media all and (max-width: 600px)
{
    .adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-3 {
        width: 50%;
    }.adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-4 {
        width: 50%;
    }.adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-5 {
        width: 50%;
    }
}

@media all and (max-width: 450px)
{
    .adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-2 {
        width: 100%;
    }.adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-3 {
        width: 100%;
    }.adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-4 {
        width: 100%;
    }.adaptiv .picturelist.landing-1 .picturelist-picture.picturelist-picture-5 {
        width: 100%;
    }
}