.slider-1 {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 0px;
    white-space: nowrap;
    height: 400px;
}

.slider-1.slider-1-type-tigh {
    max-width: 1162px;
    margin: 0 auto;
}

.slider-1 .slider-1-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-1 .slider-1-slide {
    display: inline-block;
    vertical-align: top;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.slider-1 .slider-1-slide-wrapper {
    display: block;
    position: relative;
    max-width: 1162px;
    margin: 0 auto;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-1 .slider-1-slide .slider-1-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.slider-1 .slider-1-slide.slider-1-type-text-left .slider-1-image {
    left: auto;
    width: 50%;
}

.slider-1 .slider-1-slide.slider-1-type-text-right .slider-1-image {
    right: auto;
    width: 50%;
}

.slider-1 .slider-1-slide .slider-1-information {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: left;
}

.slider-1 .slider-1-slide.slider-1-text-dark .slider-1-information {
    color: #1d1d1d;
}

.slider-1 .slider-1-slide.slider-1-text-light .slider-1-information {
    color: #fefefe;
}

.slider-1 .slider-1-slide .slider-1-information .slider-1-header {
    display: block;
    color: inherit;
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    white-space: normal;
    text-align: inherit;
}

.slider-1 .slider-1-slide .slider-1-information .slider-1-text {
    display: block;
    color: inherit;
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    white-space: normal;
    text-align: inherit;
}

.slider-1 .slider-1-slide.slider-1-type-text-right .slider-1-information {
    margin-left: 50%;
}

.slider-1 .slider-1-slide.slider-1-type-image .slider-1-information {
    display: none;    
}

.slider-1 .slider-1-button-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: auto;
    right: auto;
    bottom: 0px;
    height: 100%;
    width: auto;
    overflow: visible;
}

.slider-1 .slider-1-button-wrapper.slider-1-button-wrapper-left {
    left: 0px;
    padding-left: 20px;
}

.slider-1 .slider-1-button-wrapper.slider-1-button-wrapper-right {
    right: 0px;
    padding-right: 20px;
}

.slider-1 .slider-1-button-wrapper .slider-1-button {
    display: inline-block;
    vertical-align: middle;
}

@media all and (max-width: 900px) {
    .adaptiv .slider-1 .slider-1-slide.slider-1-type-text-left .slider-1-information,
    .adaptiv .slider-1 .slider-1-slide.slider-1-type-text-right .slider-1-information {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    
    .adaptiv .slider-1 .slider-1-slide.slider-1-type-text-left .slider-1-image,
    .adaptiv .slider-1 .slider-1-slide.slider-1-type-text-right .slider-1-image {
        display: none;
    }
}

@media all and (max-width: 550px) {
    .adaptiv .slider-1 .slider-1-slide .slider-1-information .slider-1-header {
        font-size: 20px;
        line-height: 30px;
    }
    
    .adaptiv .slider-1 .slider-1-slide .slider-1-information .slider-1-text {
        font-size: 13px;
        line-height: 19px;
    }
}