.reviews.landing-1 {
    display: block;
}

.reviews.landing-1 .reviews-clear {
    clear: both;
}

.reviews.landing-1 .reviews-main {
    display: block;
}

.reviews.landing-1 .reviews-hideable {
    display: none;
}

.reviews.landing-1 .reviews-review {
    display: block;
    background: #f6f6f6;
    clear: both;
    margin-left: 54px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 3px;
    margin-top: 30px;
}

.reviews.landing-1 .reviews-review.reviews-review-first {
    margin-top: 0px;
}

.reviews.landing-1 .reviews-review .reviews-review-image {
    display: block;
    position: relative;
    float: left;
    margin-left: -54px;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden; 
}

.reviews.landing-1 .reviews-review .reviews-review-image .uni-image {
    width: 100%;
    height: 100%;
}

.reviews.landing-1 .reviews-review .reviews-review-information {
    display: block;
    margin-left: 89px;
    margin-right: 32px;
    text-align: left;
}

.reviews.landing-1 .reviews-review .reviews-review-information-author {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
}

.reviews.landing-1 .reviews-review .reviews-review-information-company {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #4e4e4e;
}

.reviews.landing-1 .reviews-review .reviews-review-information-description {
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: #606060;
}

.reviews.landing-1 .reviews-buttons {
    display: block;
    width: auto;
    text-align: center;
}

.reviews.landing-1 .reviews-buttons-more {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.reviews.landing-1 .reviews-buttons-more .reviews-buttons-more-text {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.reviews.landing-1 .reviews-buttons-more .reviews-buttons-more-icon {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #d8d8d8;
    -webkit-transition: background-color 0.3s;
       -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
         -o-transition: background-color 0.3s;
            transition: background-color 0.3s;
}.reviews.landing-1 .reviews-buttons-more:hover .reviews-buttons-more-icon {
    background-color: #e8e8e8;
}

.reviews.landing-1 .reviews-buttons-more .reviews-buttons-more-icon .reviews-buttons-more-icon-picture {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    background-image: url('images/arrow.sprite.png');
}

.reviews.landing-1 .reviews-buttons-more.ui-state-active .reviews-buttons-more-icon .reviews-buttons-more-icon-picture {
    background-position: 0px -15px;
}

.reviews.landing-1 .reviews-buttons-more-link {
    display: inline-block;
    text-decoration: none;
    color: #1a1a1a;
    padding: 15px 20px;
    font-size: 0px;
    border: 1px solid #1a58d7;
    border-radius: 3px;
    transition: 0.2s;
    transition-property: background-color, border;
}

.reviews.landing-1 .reviews-buttons-more-link:hover {
    color: #ffffff;
}

.reviews.landing-1 .reviews-buttons-more-link .reviews-buttons-more-link-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
}
.reviews.landing-1 .reviews-buttons-more-link .reviews-buttons-more-link-icon {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url('images/arrow.png') no-repeat;
    margin-left: 7px;
}