.reviews-1 {
    display: block;
    overflow: hidden;
}

.reviews-1 .reviews-1-wrapper {
    display: block;
    margin: -20px;
    font-size: 0px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-review-wrapper {
    display: block;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border {
    display: block;
    border-radius: 5px;
    border:  1px solid #e9e9e9;
    margin-top: 60px;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border .reviews-1-image {
    display: block;
    text-align: center;
    font-size: 0px;
    margin-top: -60px;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border .reviews-1-image .reviews-1-image-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border .reviews-1-information {
    display: block;
    padding: 20px;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border .reviews-1-information .reviews-1-name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    color: #0077f6;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border .reviews-1-information .reviews-1-company {
    display: block;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    color: #bdbdbd;
}

.reviews-1 .reviews-1-wrapper .reviews-1-review .reviews-1-border .reviews-1-information .reviews-1-description {
    display: block;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
    height: 140px;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
    color: #606060;
}

.reviews-1 .reviews-1-buttons {
    display: block;
    text-align: center;
    padding-top: 25px;
}

.reviews-1 .reviews-1-buttons .reviews-1-button-all {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 13px 21px;
}