.gallery.landing-1 {
    display: block;
}

.gallery.landing-1 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery.landing-1 .gallery-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery.landing-1 .gallery-slider-button-right-wrapper,
.gallery.landing-1 .gallery-slider-button-left-wrapper {
    position: absolute;
    height: 100%;
    top: 0px;
    left: auto;
    right: auto;
    bottom: 0px;
}

.gallery.landing-1 .gallery-slider-button-right-wrapper {
    right: 0px;
}

.gallery.landing-1 .gallery-slider-button-left-wrapper {
    left: 0px;
}

.gallery.landing-1 .gallery-slider-button-left-wrapper .gallery-slider-button,
.gallery.landing-1 .gallery-slider-button-right-wrapper .gallery-slider-button {
    display: inline-block;
    vertical-align: middle;
}

.gallery.landing-1 .gallery-images {
    display: block;
    position: relative;
    margin: -8px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    font-size: 0px;
    clear: both;
}


.gallery.landing-1 .gallery-images .gallery-images-image {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 25%;
}

.gallery.landing-1 .gallery-images .gallery-images-image .gallery-images-image-wrapper {
    display: block;
    position: relative;
    padding-top: 75%;
}

.gallery.landing-1 .gallery-images .gallery-images-image .gallery-images-image-wrapper .gallery-images-image-wrapper-wrapper {
    position: absolute;
    display: block;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
       -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
         -o-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.gallery.landing-1 .gallery-images .gallery-images-image .gallery-images-image-wrapper .gallery-images-image-wrapper-wrapper:hover {
    opacity: 0.7;    
}

.gallery.landing-1 .gallery-buttons {
    display: block;
    width: auto;
    text-align: center;
}

.gallery.landing-1 .gallery-buttons-more {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.gallery.landing-1 .gallery-buttons-more .gallery-buttons-more-text {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.gallery.landing-1 .gallery-buttons-more .gallery-buttons-more-icon {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #1a58d7;
    -webkit-transition: background-color 0.3s;
       -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
         -o-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.gallery.landing-1 .gallery-buttons-more .gallery-buttons-more-icon .gallery-buttons-more-icon-picture {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    background-image: url('images/arrow.sprite.png');
}

.gallery.landing-1 .gallery-buttons-more.ui-state-active .gallery-buttons-more-icon .gallery-buttons-more-icon-picture {
    background-position: 0px -15px;
}

@media all and (max-width: 800px) {
    .adaptiv .gallery.landing-1 .gallery-images {
        white-space: nowrap;
    }
    
    .adaptiv .gallery.landing-1 .gallery-images .gallery-images-image {
        width: 50%;
    }
    
    .adaptiv .gallery.landing-1 .gallery-buttons {
        display: none;
    }
}

@media all and (max-width: 450px) {
    .adaptiv .gallery.landing-1 .gallery-images {
        white-space: nowrap;
    }
    
    .adaptiv .gallery.landing-1 .gallery-images .gallery-images-image {
        width: 100%;
    }
    
    .adaptiv .gallery.landing-1 .gallery-buttons {
        display: none;
    }
}